@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Dono: @ViewData["Dono"]</p>

<address>
    <strong>Mais informações: </strong> <a>(48) 991887723</a>
</address>